:root {
  // PRIMARY COLOR
  --c-primary-50: 255, 247, 237;
  --c-primary-100: 255, 237, 213;
  --c-primary-200: 254, 215, 170;
  --c-primary-300: 253, 186, 116;
  --c-primary-400: 251, 146, 60;
  --c-primary-500: 249, 115, 22;
  --c-primary-600: 218, 163, 51;
  // --c-primary-600: 234, 88, 12; stock
  --c-primary-700: 194, 65, 12;
  --c-primary-800: 154, 52, 18;
  --c-primary-900: 124, 45, 18;
  // SECONDARY COLOR
  --c-secondary-50: 247, 254, 231;
  --c-secondary-100: 236, 252, 203;
  --c-secondary-200: 217, 249, 157;
  --c-secondary-300: 190, 242, 100;
  --c-secondary-400: 163, 230, 53;
  --c-secondary-500: 132, 204, 22;
  --c-secondary-600: 101, 163, 13;
  --c-secondary-700: 77, 124, 15;
  --c-secondary-800: 63, 98, 18;
  --c-secondary-900: 54, 83, 20;
  // NEUTRAL COLOR
  --c-neutral-50: 250, 250, 250;
  --c-neutral-100: 244, 244, 245;
  --c-neutral-200: 228, 228, 231;
  --c-neutral-300: 212, 212, 216;
  --c-neutral-400: 161, 161, 170;
  --c-neutral-500: 113, 113, 122;
  --c-neutral-600: 82, 82, 91;
  --c-neutral-700: 63, 63, 70;
  --c-neutral-800: 39, 39, 42;
  --c-neutral-900: 24, 24, 27;
}

/* :root {
  --c-primary-50: #fbeed7;
  --c-primary-100: #f9e5c9;
  --c-primary-200: #f3d0a5;
  --c-primary-300: #eab074;
  --c-primary-400: #d88e3c;
  --c-primary-500: #cc7416;
  --c-primary-600: #daa333;
  --c-primary-700: #c1410c;
  --c-primary-800: #9a3412;
  --c-primary-900: #7c2d12;

  --c-secondary-50: #f7fee7;
  --c-secondary-100: #ecfccb;
  --c-secondary-200: #d9f99d;
  --c-secondary-300: #bee664;
  --c-secondary-400: #a3e635;
  --c-secondary-500: #84cc16;
  --c-secondary-600: #65a30d;
  --c-secondary-700: #4d7c0f;
  --c-secondary-800: #3f6212;
  --c-secondary-900: #364b14;

  --c-neutral-50: #fafafa;
  --c-neutral-100: #f4f4f5;
  --c-neutral-200: #e4e4e7;
  --c-neutral-300: #d4d4d8;
  --c-neutral-400: #a1a1aa;
  --c-neutral-500: #71717a;
  --c-neutral-600: #52525b;
  --c-neutral-700: #3f3f46;
  --c-neutral-800: #27272a;
  --c-neutral-900: #18181b;
} */